<section class="popular-services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="heading">
                            <h2>Most Popular Services</h2>
                            <span>Explore the greates our services. You won’t be disappointed</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="viewall">
                            <h4><a href="https://truelysell.com/all-services">View All <i
                                class="fas fa-angle-right"></i></a></h4>
                            <span>Most Popular</span>
                        </div>
                    </div>
                </div>
                <div class="service-carousel">
                    <div class="service-slider owl-carousel owl-theme owl-loaded owl-drag">
                        <div class="owl-stage-outer">
                            <div class="owl-stage"
                                 style="transform: translate3d(-2240px, 0px, 0px); transition: all 0.25s ease 0s; width: 3200px;">
                                <div class="owl-item" style="width: 290px; margin-right: 30px;">
                                    <div class="service-widget">
                                        <div class="service-img">
                                            <a href="https://truelysell.com/service-preview/2-bedroom-apartment?sid=f0935e4cd5920aa6c7c996a5ee53a70f">
                                                <img class="img-fluid serv-img" alt="Service Image"
                                                     src="https://truelysell.com/uploads/services/se_full_1607566313people-buying-online-mobile-interface-design_23-2148405038.jpg">
                                            </a>
                                            <div class="item-info">
                                                <div class="service-user">
                                                    <a href="#">
                                                        <img src="https://truelysell.com/assets/img/user.jpg">
                                                    </a>
                                                    <span class="service-price">₹20</span>
                                                </div>
                                                <div class="cate-list">
                                                    <a class="bg-yellow"
                                                       href="https://truelysell.com/search/free-maintenance">Free
                                                        maintenance</a></div>
                                            </div>
                                        </div>
                                        <div class="service-content">
                                            <h3 class="title">
                                                <a href="https://truelysell.com/service-preview/2-bedroom-apartment?sid=f0935e4cd5920aa6c7c996a5ee53a70f">2
                                                    bedroom apartment</a>
                                            </h3>
                                            <div class="rating">
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i> <span
                                                class="d-inline-block average-rating">(0)</span>
                                            </div>
                                            <div class="user-info">

                                                <div class="row">
                                                    <span class="col ser-contact"><i
                                                        class="fas fa-phone mr-1"></i> <span>xxxxxxxx93</span></span>
                                                    <span class="col ser-location"><span>Abule</span> <i
                                                        class="fas fa-map-marker-alt ml-1"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 290px; margin-right: 30px;">
                                    <div class="service-widget">
                                        <div class="service-img">
                                            <a href="https://truelysell.com/service-preview/demo3?sid=5f93f983524def3dca464469d2cf9f3e">
                                                <img class="img-fluid serv-img" alt="Service Image"
                                                     src="https://truelysell.com/uploads/services/se_full_1607678552Capture.PNG">
                                            </a>
                                            <div class="item-info">
                                                <div class="service-user">
                                                    <a href="#">
                                                        <img
                                                            src="https://truelysell.com/uploads/profile_img/1602666644.png">
                                                    </a>
                                                    <span class="service-price">₹15115.72</span>
                                                </div>
                                                <div class="cate-list">
                                                    <a class="bg-yellow"
                                                       href="https://truelysell.com/search/free-maintenance">Free
                                                        maintenance</a></div>
                                            </div>
                                        </div>
                                        <div class="service-content">
                                            <h3 class="title">
                                                <a href="https://truelysell.com/service-preview/demo3?sid=5f93f983524def3dca464469d2cf9f3e">Demo3</a>
                                            </h3>
                                            <div class="rating">
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i> <span
                                                class="d-inline-block average-rating">(0)</span>
                                            </div>
                                            <div class="user-info">

                                                <div class="row">
                                                    <span class="col ser-contact"><i
                                                        class="fas fa-phone mr-1"></i> <span>xxxxxxxx89</span></span>
                                                    <span class="col ser-location"><span>Maninagar</span> <i
                                                        class="fas fa-map-marker-alt ml-1"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 290px; margin-right: 30px;">
                                    <div class="service-widget">
                                        <div class="service-img">
                                            <a href="https://truelysell.com/service-preview/Installation-of-CCtv-Cameras-?sid=02522a2b2726fb0a03bb19f2d8d9524d">
                                                <img class="img-fluid serv-img" alt="Service Image"
                                                     src="https://truelysell.com/uploads/services/se_full_1609157594cctv_3.jpg">
                                            </a>
                                            <div class="item-info">
                                                <div class="service-user">
                                                    <a href="#">
                                                        <img src="https://truelysell.com/assets/img/user.jpg">
                                                    </a>
                                                    <span class="service-price">₹200000</span>
                                                </div>
                                                <div class="cate-list">
                                                    <a class="bg-yellow"
                                                       href="https://truelysell.com/search/cctv-installation">CCTV
                                                        Installation</a></div>
                                            </div>
                                        </div>
                                        <div class="service-content">
                                            <h3 class="title">
                                                <a href="https://truelysell.com/service-preview/Installation-of-CCtv-Cameras-?sid=02522a2b2726fb0a03bb19f2d8d9524d">Installation
                                                    of CCtv Cameras </a>
                                            </h3>
                                            <div class="rating">
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i> <span
                                                class="d-inline-block average-rating">(0)</span>
                                            </div>
                                            <div class="user-info">

                                                <div class="row">
                                                    <span class="col ser-contact"><i
                                                        class="fas fa-phone mr-1"></i> <span>xxxxxxxx35</span></span>
                                                    <span class="col ser-location"><span>Lagos</span> <i
                                                        class="fas fa-map-marker-alt ml-1"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 290px; margin-right: 30px;">
                                    <div class="service-widget">
                                        <div class="service-img">
                                            <a href="https://truelysell.com/service-preview/Cleaning-Floor?sid=903ce9225fca3e988c2af215d4e544d3">
                                                <img class="img-fluid serv-img" alt="Service Image"
                                                     src="https://truelysell.com/uploads/services/se_full_1610182114file-20190424-19297-1dn85pe.jpg">
                                            </a>
                                            <div class="item-info">
                                                <div class="service-user">
                                                    <a href="#">
                                                        <img src="https://truelysell.com/assets/img/user.jpg">
                                                    </a>
                                                    <span class="service-price">₹377.89</span>
                                                </div>
                                                <div class="cate-list">
                                                    <a class="bg-yellow" href="https://truelysell.com/search/cleaner">Cleaner</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="service-content">
                                            <h3 class="title">
                                                <a href="https://truelysell.com/service-preview/Cleaning-Floor?sid=903ce9225fca3e988c2af215d4e544d3">Cleaning
                                                    Floor</a>
                                            </h3>
                                            <div class="rating">
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i> <span
                                                class="d-inline-block average-rating">(0)</span>
                                            </div>
                                            <div class="user-info">

                                                <div class="row">
                                                    <span class="col ser-contact"><i
                                                        class="fas fa-phone mr-1"></i> <span>xxxxxxxx85</span></span>
                                                    <span class="col ser-location"><span>Jidhafs, Bahrain</span> <i
                                                        class="fas fa-map-marker-alt ml-1"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 290px; margin-right: 30px;">
                                    <div class="service-widget">
                                        <div class="service-img">
                                            <a href="https://truelysell.com/service-preview/test-wad?sid=47d1e990583c9c67424d369f3414728e">
                                                <img class="img-fluid serv-img" alt="Service Image"
                                                     src="https://truelysell.com/uploads/services/se_full_1610750143th2.jpg">
                                            </a>
                                            <div class="item-info">
                                                <div class="service-user">
                                                    <a href="#">
                                                        <img src="https://truelysell.com/assets/img/user.jpg">
                                                    </a>
                                                    <span class="service-price">₹100</span>
                                                </div>
                                                <div class="cate-list">
                                                    <a class="bg-yellow"
                                                       href="https://truelysell.com/search/homemade-tiffin-services">Homemade
                                                        Tiffin Services</a></div>
                                            </div>
                                        </div>
                                        <div class="service-content">
                                            <h3 class="title">
                                                <a href="https://truelysell.com/service-preview/test-wad?sid=47d1e990583c9c67424d369f3414728e">Test
                                                    wad</a>
                                            </h3>
                                            <div class="rating">
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i> <span
                                                class="d-inline-block average-rating">(0)</span>
                                            </div>
                                            <div class="user-info">

                                                <div class="row">
                                                    <span class="col ser-contact"><i
                                                        class="fas fa-phone mr-1"></i> <span>xxxxxxxx25</span></span>
                                                    <span class="col ser-location"><span>Rutland, UK</span> <i
                                                        class="fas fa-map-marker-alt ml-1"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 290px; margin-right: 30px;">
                                    <div class="service-widget">
                                        <div class="service-img">
                                            <a href="https://truelysell.com/service-preview/De-todo-un-poco?sid=a5e00132373a7031000fd987a3c9f87b">
                                                <img class="img-fluid serv-img" alt="Service Image"
                                                     src="https://truelysell.com/uploads/services/se_full_16104934311600827202personal-care_381_286.jpg">
                                            </a>
                                            <div class="item-info">
                                                <div class="service-user">
                                                    <a href="#">
                                                        <img src="https://truelysell.com/assets/img/user.jpg">
                                                    </a>
                                                    <span class="service-price">₹100</span>
                                                </div>
                                                <div class="cate-list">
                                                    <a class="bg-yellow" href="https://truelysell.com/search/product">Product</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="service-content">
                                            <h3 class="title">
                                                <a href="https://truelysell.com/service-preview/De-todo-un-poco?sid=a5e00132373a7031000fd987a3c9f87b">De
                                                    todo un poco</a>
                                            </h3>
                                            <div class="rating">
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i> <span
                                                class="d-inline-block average-rating">(0)</span>
                                            </div>
                                            <div class="user-info">

                                                <div class="row">
                                                    <span class="col ser-contact"><i
                                                        class="fas fa-phone mr-1"></i> <span>xxxxxxxx94</span></span>
                                                    <span class="col ser-location"><span>Tanzania</span> <i
                                                        class="fas fa-map-marker-alt ml-1"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item" style="width: 290px; margin-right: 30px;">
                                    <div class="service-widget">
                                        <div class="service-img">
                                            <a href="https://truelysell.com/service-preview/Hardware-Installation?sid=3988c7f88ebcb58c6ce932b957b6f332">
                                                <img class="img-fluid serv-img" alt="Service Image"
                                                     src="https://truelysell.com/uploads/services/se_full_1609505799download.jpeg">
                                            </a>
                                            <div class="item-info">
                                                <div class="service-user">
                                                    <a href="#">
                                                        <img
                                                            src="https://truelysell.com/uploads/profile_img/1602666644.png">
                                                    </a>
                                                    <span class="service-price">₹0</span>
                                                </div>
                                                <div class="cate-list">
                                                    <a class="bg-yellow"
                                                       href="https://truelysell.com/search/free-maintenance">Free
                                                        maintenance</a></div>
                                            </div>
                                        </div>
                                        <div class="service-content">
                                            <h3 class="title">
                                                <a href="https://truelysell.com/service-preview/Hardware-Installation?sid=3988c7f88ebcb58c6ce932b957b6f332">Hardware
                                                    Installation</a>
                                            </h3>
                                            <div class="rating">
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i> <span
                                                class="d-inline-block average-rating">(0)</span>
                                            </div>
                                            <div class="user-info">

                                                <div class="row">
                                                    <span class="col ser-contact"><i
                                                        class="fas fa-phone mr-1"></i> <span>xxxxxxxx27</span></span>
                                                    <span class="col ser-location"><span>Shahdara</span> <i
                                                        class="fas fa-map-marker-alt ml-1"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 290px; margin-right: 30px;">
                                    <div class="service-widget">
                                        <div class="service-img">
                                            <a href="https://truelysell.com/service-preview/my-test-service-070121?sid=0f28b5d49b3020afeecd95b4009adf4c">
                                                <img class="img-fluid serv-img" alt="Service Image"
                                                     src="https://truelysell.com/uploads/services/se_full_1610017590Client-Engagement-Handshake.png">
                                            </a>
                                            <div class="item-info">
                                                <div class="service-user">
                                                    <a href="#">
                                                        <img src="https://truelysell.com/assets/img/user.jpg">
                                                    </a>
                                                    <span class="service-price">₹11336.79</span>
                                                </div>
                                                <div class="cate-list">
                                                    <a class="bg-yellow"
                                                       href="https://truelysell.com/search/cctv-installation">CCTV
                                                        Installation</a></div>
                                            </div>
                                        </div>
                                        <div class="service-content">
                                            <h3 class="title">
                                                <a href="https://truelysell.com/service-preview/my-test-service-070121?sid=0f28b5d49b3020afeecd95b4009adf4c">My
                                                    test service 070121</a>
                                            </h3>
                                            <div class="rating">
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i> <span
                                                class="d-inline-block average-rating">(0)</span>
                                            </div>
                                            <div class="user-info">

                                                <div class="row">
                                                    <span class="col ser-contact"><i
                                                        class="fas fa-phone mr-1"></i> <span>xxxxxxxx33</span></span>
                                                    <span
                                                        class="col ser-location"><span>Selvapuram, Tamil Nadu, India</span> <i
                                                        class="fas fa-map-marker-alt ml-1"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 290px; margin-right: 30px;">
                                    <div class="service-widget">
                                        <div class="service-img">
                                            <a href="https://truelysell.com/service-preview/testservice1?sid=d1f491a404d6854880943e5c3cd9ca25">
                                                <img class="img-fluid serv-img" alt="Service Image"
                                                     src="https://truelysell.com/uploads/services/se_full_1608666060serviceImage.jpg">
                                            </a>
                                            <div class="item-info">
                                                <div class="service-user">
                                                    <a href="#">
                                                        <img
                                                            src="https://truelysell.com/uploads/profile_img/1602666644.png">
                                                    </a>
                                                    <span class="service-price">₹500</span>
                                                </div>
                                                <div class="cate-list">
                                                    <a class="bg-yellow"
                                                       href="https://truelysell.com/search/free-maintenance">Free
                                                        maintenance</a></div>
                                            </div>
                                        </div>
                                        <div class="service-content">
                                            <h3 class="title">
                                                <a href="https://truelysell.com/service-preview/testservice1?sid=d1f491a404d6854880943e5c3cd9ca25">Testservice1</a>
                                            </h3>
                                            <div class="rating">
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i> <span
                                                class="d-inline-block average-rating">(0)</span>
                                            </div>
                                            <div class="user-info">

                                                <div class="row">
                                                    <span class="col ser-contact"><i
                                                        class="fas fa-phone mr-1"></i> <span>xxxxxxxx37</span></span>
                                                    <span class="col ser-location"><span>B-15, Nikol Rd, Nikol, Ahmedabad, Gujarat 382415, India</span> <i
                                                        class="fas fa-map-marker-alt ml-1"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="owl-item active" style="width: 290px; margin-right: 30px;">
                                    <div class="service-widget">
                                        <div class="service-img">
                                            <a href="https://truelysell.com/service-preview/test?sid=c8ffe9a587b126f152ed3d89a146b445">
                                                <img class="img-fluid serv-img" alt="Service Image"
                                                     src="https://truelysell.com/uploads/services/se_full_1608454680serviceImage1.jpg">
                                            </a>
                                            <div class="item-info">
                                                <div class="service-user">
                                                    <a href="#">
                                                        <img src="https://truelysell.com/assets/img/user.jpg">
                                                    </a>
                                                    <span class="service-price">₹25</span>
                                                </div>
                                                <div class="cate-list">
                                                    <a class="bg-yellow"
                                                       href="https://truelysell.com/search/free-maintenance">Free
                                                        maintenance</a></div>
                                            </div>
                                        </div>
                                        <div class="service-content">
                                            <h3 class="title">
                                                <a href="https://truelysell.com/service-preview/test?sid=c8ffe9a587b126f152ed3d89a146b445">Test</a>
                                            </h3>
                                            <div class="rating">
                                                <i class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i><i class="fas fa-star"></i><i
                                                class="fas fa-star"></i> <span
                                                class="d-inline-block average-rating">(0)</span>
                                            </div>
                                            <div class="user-info">

                                                <div class="row">
                                                    <span class="col ser-contact"><i
                                                        class="fas fa-phone mr-1"></i> <span>xxxxxxxx90</span></span>
                                                    <span class="col ser-location"><span>Gandhinagar,India</span> <i
                                                        class="fas fa-map-marker-alt ml-1"></i></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="owl-nav disabled">
                            <button type="button" role="presentation" class="owl-prev"><span
                                aria-label="Previous">‹</span></button>
                            <button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span>
                            </button>
                        </div>
                        <div class="owl-dots">
                            <button role="button" class="owl-dot"><span></span></button>
                            <button role="button" class="owl-dot"><span></span></button>
                            <button role="button" class="owl-dot"><span></span></button>
                            <button role="button" class="owl-dot active"><span></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
