@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-regular.woff2') format('woff2'),
         url('../fonts/poppins-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-medium.woff2') format('woff2'),
         url('../fonts/poppins-medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;

}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-semibold.woff2') format('woff2'),
         url('../fonts/poppins-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;

}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-bold.woff2') format('woff2'),
         url('../fonts/poppins-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

body {
	background-color: #fefefe;
	color: #555a64;
    font-family: "Poppins",sans-serif;
	font-size: 0.9375rem;
    height: 100%;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
    color: #2c3038;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 32px;
}
h3 {
	font-size: 28px;
}
h4 {
	font-size: 24px;
}
h5 {
	font-size: 20px;
}
h6 {
	font-size: 16px;
}
p{
    color:#666666;
}
a:hover,
a:focus{
    text-decoration:none;
    outline:none;
}
button:focus {
	outline: 0;
}
.btn.focus, .btn:focus { box-shadow: none; }

/* Shortcode */

.mh-auto { min-height: auto; }
.display-5 {font-size: 21px; line-height: 32px;}
.form-control.custom-height { height: auto; margin-top:5px;}
.bg-theme { background-color: #ff0080; }
.bg-grey { background-color: #f2f2f2; }
.badge-prof { background-color: #ff0080; }
.badge-user { background-color: #D9C505; }
.custom-badge-sm { padding: 0.23em 0.5em; border-radius: 50em; background: #ff0080; color: #fff;}
.badge-theme { background-color: #ff0080; color: #fff; }
.btn-theme { background-color: #ff0080; opacity: 0.86;  }
.btn-theme:hover, .btn-theme:focus { background-color: #ff0080; opacity: 1; }
.bootstrap-tagsinput input[type="text"] {
	float: none !important;
}
.block{
    padding:40px 0;
    position:relative;
}
.block.remove-top{padding-top:0}
.block.no-padding{padding-top:0; padding-bottom:0; }
.block.dark{background:#111111}
.block.gray{background:#fafafa}
.block.remove-bottom{padding-bottom:0}
.hero-section {
	position: relative;
}
.home-banner {
	background-image: url("../img/banner.jpg");
    background-size:cover;
    height:100%;
    width:100%;
    margin:0;
    position:absolute;
    left:0;
    top:0;
    z-index:-1;
}
.layer:before{
    content:"";
    height:100%;
    opacity:0.95;
    z-index:0;
    position:absolute;
    left:0;
    top:0;
    width:100%;
}
ul {
    list-style: none;
    padding: 0;
	margin: 0;
}
ul li{
    color:#1e1e1e;
}
.form-control {
    border-color: #dcdcdc;
    color: #333;
	font-size: 15px;
    min-height: 46px;
	padding: 6px 15px;
}
.form-control:focus {
	border-color: #bbb;
	box-shadow: none;
	outline: 0 none;
}

/* Page Loading */

.page-loading {
    background-color: #fff;
    content: "";
    height: 100%;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 99999;
}
.page-loading > img {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.page-loading > span {
    color: #b3b3b3;
    cursor: pointer;
    display: inline-block;
    font-size: 17px;
    margin-top: 30px;
    text-decoration: underline;
}
.header{
    background: #000;
    position: relative;
}
.logo img {
    height: auto;
    max-width: 100%;
    max-height: 30px;
}
.logo a {
    float: left;
}
.logo a img {
    float: left;
	max-height: 32px;
}
.section-search {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 90px;
}
.section-search > h3 {
    font-size: 40px;
    color: #fff;
    font-weight: bold;
    margin-bottom: 10px;
}
.section-search > h3 span {
    color:#D9C505;
}
.section-search > p {
    font-size: 22px;
    color: #fff;
    font-weight: 400;
    margin: 0;
}
.search-box {
    width: 100%;
    background: #fff;
    border-radius: 40px;
    padding: 10px;
    display: table;
    padding-left: 15px;
    margin-top: 35px;
}
.search-box input:hover, .search-box input:focus, .search-box .form-control:hover, .search-box .form-control:focus {
    background-color: #fff !important;
}
.search-box form {
    float: left;
    width: 100%;
}
.search-input {
    float: left;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.search-box ::-webkit-input-placeholder { /* Edge */
	font-size: 16px;
}
.search-box :-ms-input-placeholder { /* Internet Explorer 10-11 */
	font-size: 16px;
}
.search-box ::placeholder {
	font-size: 16px;
}
.search-input {
    width:32%;
}
.search-input.line {
	width: 53%;
}
.search-input input, .search-input.line input {
	height:57px;
	padding:0px 40px 0px 60px;
	border: 0;
}
.search-input.line::before {
    position: absolute;
    right: 0;
    top: 50%;
    width: 1px;
    height: 60px;
    background: #ccc;
    content: "";
    z-index: 1;
    margin-top: -30px;
}
.search-input i {
    position: absolute;
    right: 15px;
    top: 50%;
    transform:translateY(-50%);
    color: #858585;
    font-size: 18px;
}
.search-input .current-loc-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: 0px;
    color: #858585;
    font-size: 18px;
}
.search-input .current-loc-icon i {
    position: unset;
    transform: unset;
}
.search-input > i.bficon {
    right: inherit;
    left: 25px;
    z-index: 1;
}
.search-btn {
	float: right;
    width: 15%;
}
.search-btn .btn {
    width: 100%;
    border: 1px solid #ff0080;
    background: #ff0080;
    border-radius: 40px;
	color: #fff;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 20px;
}
.search-btn .btn:hover, .search-btn .btn:hover {
	color: #fff;
}
.search-cat span {
    float: none;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    line-height: 29px;
    margin-right: 25px;
}
.search-cat i {
    color: #d9c505;
    margin-right: 5px;
}
.search-cat {
    margin-top: 30px;
    text-align: center;
}
.search-cat a {
    display: inline-block;
    font-size: 15px;
    color: #fff;
    padding: 8px 20px;
    border: 1px dashed #fff;
    border-radius: 25px;
    margin: 0 5px;
    opacity: 0.8;
}
.heading {
    padding: 40px 0 50px 30px;
    margin-bottom: 20px;
    background: url(../img/title-image.png) no-repeat left center;
}
.heading.howitworks {
    text-align: center;
    background: url(../img/title-image2.png) no-repeat center center;
    padding-left: 0;
}
.heading h2 {
    font-size: 30px;
    color: #2c3038;
    font-weight: bold;
    margin-bottom: 10px;
}
.heading span {
    font-size: 18px;
    color: #858585;
}
.viewall{
    text-align: right;
    padding: 40px 0 0;
}
.viewall h4{
    margin: 0;
}
.viewall a {
    color: #171717;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
}
.viewall a:hover{
    color: #df0086;
}
.viewall a i{
    font-size: 24px;
    margin-left: 5px;
}
.viewall span{
    color: #f0f0f0;
    font-size: 40px;
    font-weight: 400;
}
.cate-widget {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    margin-bottom: 30px;
}
.cate-widget img {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
	transform: translateZ(0);
	-moz-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
	-ms-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
	-o-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
	-webkit-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
	transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    width: 100%;
}
.cate-widget:hover img {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    transform: scale(1.15);
}
.cate-widget:before{
    background: rgba(0,0,0,0.2);
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.cate-title {
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 1;
}
.cate-title h3 {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}
.cate-title h3 span {
    color: #171717;
    display: inline-block;
    background: #fff;
    padding: 8px 10px;
    border-radius: 20px;
}
.cate-title h3 span i{
    color: #ff0080;
    font-size:12px;
    margin-right: 3px;
}
.cate-count {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 1;
    color: #fff;
    font-size: 15px;
}
.how-work {
	padding: 40px 0;
}
.howworksec {
    text-align: center;
    margin: 40px 0 0;
    position: relative;
    background: url(../img/hiwbg.png) no-repeat center 50px;
}
.howwork {
    float: left;
    width: 100%;
    text-align: center;
    padding: 0 30px;
}
.howwork .iconround {
    float: none;
    display: inline-block;
    font-size: 65px;
    background: #fff;
    color: #ff0080;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: relative;
}
.howwork .iconround .steps {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ff0080;
    font-size: 16px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    top: 15px;
    left: -15px;
}
.howwork h3 {
    float: left;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #212121;   
    margin-top: 30px;
    margin-bottom: 12px;
}
.howwork p {
    float: left;
    width: 100%;
    font-size: 15px;
    color: #8d8d8d;
    margin: 0;
    line-height: 24px;
    padding: 0 20px;
    margin-top: 5px;
}
.footer {
    background-color: #fff;
    border-top: 1px solid #e8ecec;
}
.view-icons {
    display: inline-flex;
    float: right;
}
.view-icons a {
	font-size: 20px;
}
.view-icons a:hover, .view-icons a:focus  {
	color: #e60073;
}
.view-icons a.active {
	color: #ff0080;
}
.view-icons a.active:hover, .view-icons a.active:focus {
	color: #e60073;
}
.breadcrumb-title h2 {
    font-weight: 500;
    font-size: 25px;
    margin: 0;
}
.breadcrumb-title span {
    font-size: 13px;
    color: #8d8d8d;
    margin-top: 9px;
}
.breadcrumbs {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
}
.breadcrumbs li {
    float: left;
    margin: 0;
    position: relative;
    padding: 0 11px;
}
.breadcrumbs li a {
    float: left;
    font-size: 13px;
    color: #8d8d8d;
}
.breadcrumbs li::before {
    position: absolute;
    right: -3px;
    top: 50%;
    content: ">";
    font-size: 10px;
    color: #8d8d8d;
    line-height: 10px;
    margin-top: -3px;
}
.breadcrumbs li:last-child {
    padding-right: 0;
}
.breadcrumbs li:last-child::before {
    display: none;
}
.pagination {
    float: left;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.pagination > ul {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0;
}
.pagination > ul li {
    float: none;
    display: inline-block;
    margin: 0 1px;
}
.pagination > ul li a {
    float: left;
    width: 35px;
    height: 35px;
    background: #fff;
    border: 1px solid #e8ecec;
    line-height: 34px;
    font-size: 13px;
    color: #8d8d8d;
}
.pagination > ul li span {
    float: left;
    width: 35px;
    height: 35px;
    background: #fff;
    border: 1px solid #e8ecec;
    line-height: 34px;
    font-size: 13px;
    color: #8d8d8d;
}
.pagination > ul li.arrow a{
    background: #f1f1f1;
    font-size: 17px;
    margin: 0 9px;
}

.pagination > ul li.active a {
    background: #ff0080;
    border-color: #ff0080;
    color: #fff;
}
.chat-scroll {
    max-height: calc(100vh - 255px);
    overflow-y: auto;
}
.pbox {
    float: left;
    width: 100%;
}
.pbox h3 {
    float: left;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    color: #111111;
}
.tags {
    float: left;
    width: 100%;
    margin: 0;
}
.tags > li {
    float: left;
    font-size: 13px;
    background: #ff0080;
    margin-right: 5px;
    padding: 5px 9px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    color: #fff;
    margin-bottom: 0;
}
.tags > li .tagRemove {
    float: left;
    margin-right: 5px;
}
.tags > li.tagAdd.taglist {
    float: left;
    width: auto;
    background: none;
    padding: 0;
    margin: 0;
}
.tags > li.tagAdd.taglist #search-field {
    width: auto;
    padding: 0;
    margin: 0;
    background: no-repeat;
    float: left;
    line-height: 25px;
}
.pbox:last-child {
    margin-bottom: 0;
}

/* Reviews Sec */
/*.reviewssec {
    float: left;
    width: 100%;
    display: table;
    position: relative;
    padding: 50px 0;
    border-bottom: 1px solid #e8ecec;
}
.review-padding {
    padding: 15px 0!important;
}
.reviewthumb {
    display: table-cell;
    width: 60px;
    vertical-align: top;
}
.reviewthumb img {
    float: left;
    width: 100%;
    
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50;

}
.reviewinfo {
    display: table-cell;
    vertical-align: top;
    padding-left: 20px;
}
.reviewinfo > h3 {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #5e5e62;
    margin: 0;
}
.reviewinfo > h3 i {
    font-style: normal;
    font-size: 13px;
    color: #8d8d8d;
    margin-left: 7px;
}
.reviewinfo > h3 i strong {
    font-weight: normal;
    color: #686868;
}
.reviewinfo > span {
    float: left;
    width: 100%;
    font-size: 12px;
    color: #8d8d8d;
    margin-top: 7px;
}
.reviewinfo p {
    float: left;
    width: 100%;
    font-size: 13px;
    color: #8d8d8d;
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 0;
}
.reviewaction {
    float: left;
    width: 100%;
    margin-top: 20px;
}
.reviewaction a {
    float: left;
    font-size: 13px;
    color: #76b8df;
    padding-right: 15px;
    margin-right: 15px;
    border-right: 1px solid #e8ecec;
    line-height: 20px;
}
.reviewaction a i {
    float: left;
    margin-right: 8px;
    font-size: 17px;
}
.reviewaction a:last-child {
    padding-right: 0;
    border: none;
}
.reviewssec:last-child {
    border-bottom: none;
}*/
.dash
.dashboradsec {
    float: left;
    width: 100%;
}
.dashboradsec > h3 {
    float: left;
    width: 100%;
    font-weight: 500;
    font-size: 25px;
    color: #111111;
    margin-bottom: 40px;
}
#read_text{
    display:none;
}
.notcenter {
    float: left;
    width: 100%;
}
.notificationlist {
    float: left;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #e8ecec;
    padding-top: 20px;
    position: relative;
}
.notificationlist h3 {
    float: left;
    width: 100%;
    font-size: 14px;
    color: #242423;
    margin: 0;
}
.notificationlist span {
    float: left;
    width: 100%;
    font-size: 13px;
    color: #8d8d8d;
    margin-top: 6px;
}
.notificationlist a {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 13px;
    color: #ff0080;
    line-height: 20px;
    margin-top: -10px;
}
.notificationlist a i {
    float: left;
    font-size: 17px;
    margin-right: 7px;
}
.notificationlist:first-child {
    padding-top: 0;
}
.notificationlist:last-child {
    padding-bottom: 0;
    border: none;
}
.user-image {
	border-radius: 18px;
	width: 120px;
	margin-right: 15px;
}
.jstinput > a {
    float: none;
    display: inline-block;
    background: #ff0080;
    color: #fff;
    font-size: 14px;
    padding: 5px 30px;
    border-radius: 4px;
}
.jstinput {
    position: relative;
    float: left;
    width: 100%;
}
.jstinput input {
    position: absolute;
    width: 160px;
    left: 50%;
    margin-left: -80px;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}
.updatebtn {
    float: left;
    background: #ff0080;
    color: #fff;
    font-size: 15px;
    padding: 5px 15px;
    border: 1px solid #ff0080;
    border-radius: 4px;
	-webkit-transition: all 300ms linear 0s; 
	-moz-transition: all 300ms ease-in 0s; 
	-ms-transition: all 300ms ease-in 0s; 
	-o-transition: all 300ms ease-in 0s; 
	transition: all 300ms ease-in 0s;
}
.updatebtn:hover {
    background: transparent;
    color: #ff0080;
    border: 1px solid #ff0080;
}
.dash-widget {
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
	margin-bottom: 30px;
}
.dash-widget-icon {
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    text-align: center;
    line-height: 60px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    flex: 0 0 60px;
    margin-right: 10px;
}
.dash-widget-info > span {
	color: #fff;
    font-size: 18px;
    font-weight: 500;
	margin-bottom: 0;
}
.dash-widget-info {
    text-align: right;
}
.dash-widget.dash-bg-1 {
    background-color: #ff0080;
}
.dash-widget.dash-bg-2 {
    background-color: #323031;
}
.dash-widget.dash-bg-3 {
    background-color: #d9c505;
}
.currency {
    float: left;
    font-style: normal;
}
.currency i {
    font-style: normal;
    color: #121212;
}
.pagination > ul li a:hover {
    background: #ff0080;
    border-color: #ff0080;
    color: #fff;
}
.search-btn button:hover{
    background: #df0086;
}
.search-cat a:hover {
    background: #ff0080;
    color: #fff;
    border-color: #ff0080;
    opacity: 1;
}
.cate-widget:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.howwork:hover > i {
    color: #fb3b44;
}
.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #ff0080;
    border: 1px solid #ff0080;
}
.nav-pills .nav-link.active:hover, .nav-pills .show > .nav-link:hover {
    background: #ff0080;
    color: #fff;
}
.nav-pills .nav-link {
    border-radius: .25rem;
    color: #ff0080;
    background: #fff;
    border: 1px solid #ff0080;
}
.bootstrap-datetimepicker-widget.usetwentyfour {
	display:block;
}

/* Chat */

.contacts_body {
	padding:  0.75rem 0;
	overflow-y: auto;
	white-space: nowrap;
	min-height: 430px;
}
.msg_card_body{
	overflow-y: auto;
}
.card-header {
	border-radius: 15px 15px 0 0 !important;
	border-bottom: 0 !important;
}
.card-footer {
	background-color:#fff;
	border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
}
.search {
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.1) !important;
	border:0 !important;
	color:fff !important;
}
.search:focus {
	box-shadow:none !important;
	outline:0px !important;
}
.type_msg {
	background-color: rgba(0,0,0,0.1) !important;
	border:0 !important;
	overflow-y: auto;
}
.type_msg:focus {
	box-shadow:none !important;
	outline:0px !important;
}
.attach_btn {
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.1) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.send_btn {
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.1) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.search_btn {
	background-color: transparent;
	border:0 !important;
}
.contacts {
	list-style: none;
	padding: 0;
}
.contacts li {
	margin-bottom: 15px;
}
.user_img {
	height: 45px;
	width: 45px;
	border:1.5px solid #f5f6fa;

}
.user_img_msg {
	height: 40px;
	width: 40px;
	border:1.5px solid #f5f6fa;

}
.img_cont {
	position: relative;
	height: 45px;
	width: 45px;
}
.img_cont_msg {
	height: 40px;
	width: 40px;
}
.online_icon {
	position: absolute;
	height: 15px;
	width:15px;
	background-color: #4cd137;
	border-radius: 50%;
	bottom: 0.2em;
	right: 0.4em;
	border:1.5px solid white;
}
.offline{
	background-color: #c23616 !important;
}
.user_info {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.user_info .user-name {
	color: #2c3038;
}
.user_info span {
	font-size: 16px;
}
.user_info p {
	font-size: 14px;
	color: #8d8d8d;
}
.msg_cotainer {
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 5px;
	background-color: #e4e4e4;
	padding: 10px;
	position: relative;
}
.msg_cotainer_send {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 5px;
	background-color: #ff0080;
	color: #fff;
	padding: 10px;
	position: relative;
}
.msg_time {
	color: rgba(255,255,255,0.5);
	font-size: 10px;
	position: relative;
	display:block;
}
.msg_time_send {
	position: relative;
	color:rgba(230, 230, 230, 0.8);
	font-size: 10px;
	display: block;
}
.msg_head {
	position: relative;
}
#action_menu_btn {
	position: absolute;
	right: 10px;
	top: 10px;
	cursor: pointer;
	font-size: 20px;
}
.action_menu {
	z-index: 1;
	position: absolute;
	padding: 7px 0;
	background-color: #e4e4e4;
	color: white;
	top: 30px;
	right: 15px;
	display: none;
}
.action_menu ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.action_menu ul li {
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}
.action_menu ul li i {
	padding-right: 10px;
}
.action_menu ul li:hover {
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
}
.chat-history-blk ::-webkit-input-placeholder {
	color:#333;
}
.chat-history-blk :-ms-input-placeholder {
	color:#333;
}
.chat-history-blk ::placeholder {
	color:#333;
}

/* Modal Wizard */

#modal-wizard .modal-header {
	border-bottom:0px solid transparent;
}
.m-progress-bar {
    min-height: 0.23em;
    background: #ff0080;
    width: 5%;
}
.m-progress-stats {
	display: none;
}

#modal-wizard .modal-footer {
	border-top: 0px solid transparent;
}

.header-content-blk h4 {
	position: relative;
	padding-bottom: 16px;
	margin-bottom: 0px;
}
.header-content-blk h4:after {
	position: absolute;
	content: "";
	border-bottom: 5px solid #727c8e;
	width: 230px;
	left: 0px;
	right: 0px;
	margin: 0px auto;
	bottom: 0px;
}
.modal-content {
	border-radius: 0.625rem;
}
.modal .modal-body {
	padding: 2rem;
}
.has-error .help-block {
	font-size: 13px;
	margin-top: 7px;
	color: red;
}
.user-notify-blk img {
	width: 60px;
	height: 60px;
}
.user-notify-blk .badge {
	right: 10px;
	top: 23px;
}

/* Price Range Slider */

.range-slider.ui-slider {
    height: 6px;
    background: #efedf3;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}
.range-slider.ui-widget.ui-widget-content {
    border: 0px solid #fff;
    margin-top: 15px;
    margin-bottom: 5px;
}
.range-slider.ui-slider .ui-slider-range {
    background: #ff0080;
}
.range-slider.ui-slider .ui-slider-handle {
    height: 18px;
    width: 18px;
    background: #fff;
    border: 1px solid #fff;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    top: -6px;
    z-index: 2;
    cursor: pointer;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}
.range-slider.ui-slider .ui-slider-handle:focus {
    outline: 0;
}
.range-slider.ui-slider .ui-slider-handle:before {
    content: '';
    position: absolute;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    background: #fff;
    left: 4px;
    top: 4px;
    z-index: -1;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.main-nav li.mobile-list {
	display: none;
}
.wallet-img {
    width: 15px;
}
.dropdown.noti-dropdown {
    margin-top: 20px;
}
.noti-dropdown .dropdown-toggle {
	color:#fff;
	font-size: 14px;
	line-height: 23px;
	padding: 0 15px;
}
.noti-dropdown .dropdown-toggle::after {
    display:none;
} 
.noti-dropdown .dropdown-toggle span {
	background-color: #f43f3f;
	display: block;
	font-size: 10px;
	font-weight: bold;
	min-height: 15px;
	min-width: 15px;
	position: absolute;
	right: 3px;
	top: 5px;
}
.noti-dropdown .dropdown-toggle i {
	float: right;
	line-height: 50px;
	margin-left: 15px;
	font-size: 21px;
	float: left;
	line-height: 50px;
	color:    #fff;
	margin: 0px;
	margin-left: 0px;
	cursor: pointer;
}
.user-header {
    background-color: #f9f9f9;
    display: flex;
    padding: 10px 15px;
}
.user-header {
    background-color: #f9f9f9;
    display: flex;
    padding: 10px 15px;
}
.noti-dropdown .dropdown-menu {
    top:63px !important;
    font-size: 14px;
}
.noti-details {
    line-height: 22px;
}
.notification-message {
    margin-bottom: 0;
}

/*-----------------
    Notifications
-----------------------*/

.notifications {
    padding: 0;
}
.notifications .notification-time {
    font-size: 12px;
    line-height: 1.35;
    color: #bdbdbd;
}
.notifications .media {
    margin-top: 0;
    border-bottom: 1px solid #f5f5f5;
}
.notifications .media:last-child {
    border-bottom: none;
}
.notifications .media a {
    display: block;
    padding: 10px 15px;
    border-radius: 2px;
}
.notifications .media a:hover {
    background-color: #fafafa;
}
.notifications .media > .avatar {
    margin-right: 10px;
}
.notifications .media-list .media-left {
    padding-right: 8px;
}
.topnav-dropdown-header {
    border-bottom: 1px solid #eee;
    text-align: center;
}
.topnav-dropdown-header, 
.topnav-dropdown-footer {
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
}
.topnav-dropdown-footer {
    border-top: 1px solid #eee;
}
.topnav-dropdown-footer a {
    display: block;
    text-align: center;
    color: #333;
}
.user-menu.nav > li > a .badge {
    background-color: #f43f3f;
    display: block;
    font-size: 10px;
    font-weight: bold;
    min-height: 15px;
    min-width: 15px;
    position: absolute;
    right: 3px;
    top: 6px;
}
.user-menu.nav > li > a > i {
    font-size: 1.5rem;
    line-height: 60px;
}
.noti-details {
    color: #989c9e;
    margin-bottom: 0;
}
.noti-title {
    color: #333;
}
.notifications .noti-content {
    height: 290px;
    width: 350px;
    overflow-y: auto;
    position: relative;
}
.notification-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.notifications ul.notification-list > li{
    margin-top: 0;
    border-bottom: 1px solid #f5f5f5;
}
.notifications ul.notification-list > li:last-child {
    border-bottom: none;
}
.notifications ul.notification-list > li a {
    display: block;
    padding: 10px 15px;
    border-radius: 2px;
}
.notifications ul.notification-list > li a:hover {
    background-color: #fafafa;
}
.notifications ul.notification-list > li .list-item {
    border: 0;
    padding: 0;
    position: relative;
}
.topnav-dropdown-header .notification-title {
    color: #333;
    display: block;
    float: left;
    font-size: 14px;
}
.topnav-dropdown-header .clear-noti {
    color: #f83f37;
    float: right;
    font-size: 12px;
    text-transform: uppercase;
}
.noti-time {
    margin: 0;
}
.filter-section {
	border: 1px solid #ededed;
	box-shadow: 0px 1px 4px rgba(0,0,0,0.05);
}
.content {
	padding: 50px 0;
}
.noti-contents {
	display: flex;
	flex-direction: column;
    margin-left: 15px;
    color: #a1a1a1;
    justify-content: center;
}

/*-----------------
	Login
-----------------------*/

.account-page {
	background-color: #fff;
}
.account-page .content {
    padding: 50px 0;
}
.login-header {
	margin-bottom: 20px;
}
.login-header p {
	margin-bottom: 0;
}
.login-header h3 {
    font-size: 20px;
    margin-bottom: 0;
    text-transform: uppercase;
}
.login-header h3 a {
    color: #0de0fe;
    float: right;
    font-size: 15px;
    margin-top: 2px;
}
.login-btn {
	border: 0;
	background-color: #ff0080;
	font-size: 18px;
	font-weight: 500;
	display: block;
	width: 100%;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	text-align: center;
}
.login-btn:hover {
	border: 0;
}
.forgot-link {
    color: #3d3d3d;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 20px;
    font-weight: 400;
    border-bottom: 1px dashed;
}
.btn-facebook {
    background-color: #3a559f;
    color: #fff;
    font-size: 13px;
    padding: 8px 12px;
}
.btn-google {
    background-color: #dd4b39;
    color: #fff;
    font-size: 13px;
    padding: 8px 12px;
}
.account-box .form-group {
    margin-bottom: 25px;
}
.account-footer a {
    color: #ff0080;
}

/*-----------------
	Nav Tabs
-----------------------*/

.nav-tabs {
	border-bottom: 1px solid #f0f0f0;
}
.nav-tabs > li > a {
	margin-right: 0;
	color: #888;
	border-radius: 0;
}
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
	border-color: transparent;
	color: #272b41;
}
.nav-tabs.nav-tabs-solid > li > a {
	color: #272b41;
}
.nav-tabs.nav-tabs-solid > .active > a,
.nav-tabs.nav-tabs-solid > .active > a:hover,
.nav-tabs.nav-tabs-solid > .active > a:focus {
	background-color: #ff0080;
	border-color: #ff0080;
	color: #fff;
}
.tab-content {
	padding-top: 20px;
}
.nav-tabs .nav-link {
	border-radius: 0;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    background-color: #eee;
    border-color: transparent;
	color: #272b41;
}
.nav-tabs.nav-justified > li > a {
	border-radius: 0;
	margin-bottom: 0;
}
.nav-tabs.nav-justified > li > a:hover,
.nav-tabs.nav-justified > li > a:focus {
	border-bottom-color: #ddd;
}
.nav-tabs.nav-justified.nav-tabs-solid > li > a {
	border-color: transparent;
}
.nav-tabs.nav-tabs-solid > li > a {
	color: #272b41;
}
.nav-tabs.nav-tabs-solid > li > a.active,
.nav-tabs.nav-tabs-solid > li > a.active:hover,
.nav-tabs.nav-tabs-solid > li > a.active:focus {
	background-color: #ff0080;
	border-color: #ff0080;
	color: #fff;
}
.nav-tabs.nav-tabs-solid.nav-tabs-rounded {
	border-radius: 50px;
}
.nav-tabs.nav-tabs-solid.nav-tabs-rounded > li > a {
	border-radius: 50px;
}
.nav-tabs.nav-tabs-solid.nav-tabs-rounded > li > a.active,
.nav-tabs.nav-tabs-solid.nav-tabs-rounded > li > a.active:hover,
.nav-tabs.nav-tabs-solid.nav-tabs-rounded > li > a.active:focus {
	border-radius: 50px;
}
.nav-tabs-justified > li > a {
	border-radius: 0;
	margin-bottom: 0;
}
.nav-tabs-justified > li > a:hover,
.nav-tabs-justified > li > a:focus {
	border-bottom-color: #ddd;
}
.nav-tabs-justified.nav-tabs-solid > li > a {
	border-color: transparent;
}
.nav-tabs.nav-justified.nav-tabs-top {
	border-bottom: 1px solid #ddd;
}
.nav-tabs.nav-justified.nav-tabs-top > li > a,
.nav-tabs.nav-justified.nav-tabs-top > li > a:hover,
.nav-tabs.nav-justified.nav-tabs-top > li > a:focus {
	border-width: 2px 0 0 0;
}
.nav-tabs.nav-tabs-top > li {
	margin-bottom: 0;
}
.nav-tabs.nav-tabs-top > li > a,
.nav-tabs.nav-tabs-top > li > a:hover,
.nav-tabs.nav-tabs-top > li > a:focus {
	border-width: 2px 0 0 0;
}
.nav-tabs.nav-tabs-top > li.open > a,
.nav-tabs.nav-tabs-top > li > a:hover,
.nav-tabs.nav-tabs-top > li > a:focus {
	border-top-color: #ddd;
}
.nav-tabs.nav-tabs-top > li+li > a {
	margin-left: 1px;
}
.nav-tabs.nav-tabs-top > li > a.active,
.nav-tabs.nav-tabs-top > li > a.active:hover,
.nav-tabs.nav-tabs-top > li > a.active:focus {
	border-top-color: #ff0080;
}
.nav-tabs.nav-tabs-bottom > li > a.active, 
.nav-tabs.nav-tabs-bottom > li > a.active:hover, 
.nav-tabs.nav-tabs-bottom > li > a.active:focus {
	border-bottom-width: 2px;
	border-color: transparent;
	border-bottom-color: #ff0080;
	background-color: transparent;
	transition: none 0s ease 0s; 
	-moz-transition: none 0s ease 0s; 
	-o-transition: none 0s ease 0s; 
	-ms-transition: none 0s ease 0s; 
	-webkit-transition: none 0s ease 0s;
}
.nav-tabs.nav-tabs-solid {
	background-color: #fafafa;
	border: 0;
}
.nav-tabs.nav-tabs-solid > li {
	margin-bottom: 0;
}
.nav-tabs.nav-tabs-solid > li > a {
	border-color: transparent;
}
.nav-tabs.nav-tabs-solid > li > a:hover,
.nav-tabs.nav-tabs-solid > li > a:focus {
	background-color: #f5f5f5;
}
.nav-tabs.nav-tabs-solid > .open:not(.active) > a {
	background-color: #f5f5f5;
	border-color: transparent;
}
.nav-tabs-justified.nav-tabs-top {
	border-bottom: 1px solid #ddd;
}
.nav-tabs-justified.nav-tabs-top > li > a,
.nav-tabs-justified.nav-tabs-top > li > a:hover,
.nav-tabs-justified.nav-tabs-top > li > a:focus {
	border-width: 2px 0 0 0;
}
.account-modal .close {
    background-color: #a0a0a0;
    border-radius: 50%;
    color: #fff;
    font-size: 17px;
    height: 20px;
    line-height: 20px;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 20px;
    z-index: 99;
}

/*-----------------
	Footer
-----------------------*/

.footer .footer-top {
	padding: 40px 0;
}
.footer-title {
    color: #171717;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
    text-transform: capitalize;
}
.footer .footer-widget.footer-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	outline: none;
}
.footer .footer-widget .footer-logo {
	margin-bottom: 30px;
}
.footer .footer-menu ul li {
	margin-bottom: 10px;
	position: relative;
	display: block;
}
.footer .footer-menu ul li:last-child {
	margin-bottom: 0;
}
.footer .footer-menu ul li a {
	color: #000;
	font-size: 15px;
	transition: all 0.4s ease 0s;
}
.footer .footer-menu ul li a i {
	margin-right: 5px;
}
.footer .footer-widget.footer-menu ul li a:hover {
	color: #000;
	text-decoration: underline;
}
.footer-contact-info {
	color: #000;
	font-size: 15px;
}
.footer-contact-info .footer-address {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.footer-contact-info p {
    font-size: 14px;
    color: #000;
}
.footer-contact-info .footer-address span {
	margin-right: 20px;
}
.footer-contact-info .footer-address span i {
	color: #ff0080;
	font-size: 18px;
}
.footer-contact-info p i {
	color: #ff0080;
	font-size: 18px;
	margin-right: 15px;
}
.footer .footer-bottom .copyright {
	border-top: 1px solid #e8ecec;
	padding: 30px 0;
}
.footer .footer-bottom .copyright-text p {
	color: #000;
	font-size: 15px;
}
.footer .footer-bottom .copyright-text p a {
	color: #ff0080;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
.footer .footer-bottom .copyright-text p a:hover {
	color: #ff0080;
}
.footer .footer-bottom .copyright-text p.title {
	font-weight: 400;
	margin: 10px 0 0;
}
.footer .social-icon ul {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	list-style: none;
	padding: 0;
	margin: 0;
}
.footer .social-icon ul li {
	margin-right: 10px;
}
.footer .social-icon ul li:last-child {
	margin-right: 0;
}
.footer .social-icon ul li a {
    color: #B0B0B0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 20px;
    transition: all 0.4s ease 0s;
    width: 40px;
    height: 40px;
    border-radius: 14px;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}
.footer .social-icon ul li a:hover {
	background-color: rgba(255, 0, 128, 0.05);
	color: #ff0080;
}
.policy-menu {
	font-size: 14px;
	margin: 0;
	padding: 0;
	text-align: right;
}
.policy-menu li {
	display: inline-block;
	margin-right: 15px;
}
.policy-menu li:last-child {
	margin-right: 0;
}
.policy-menu li a {
	color: #8d8d8d;
}
.policy-menu li a:hover,
.policy-menu li a:focus {
	color: #ff0080;
}
.policy-menu li::after {
	color: #8d8d8d;
	content: "|";
	font-weight: 300;
	position: relative;
	left: 10px;
}
.policy-menu li:last-child::after {
	content: "";
}

/*-----------------
	Header
-----------------------*/

header.sticktop.navbar-fixed {
    z-index: 1039;
    position: fixed;
    width: 100%;
    top: 0;
    -webkit-animation: fadeInDown 800ms;
    animation: fadeInDown 800ms;
    -webkit-backface-visibility: hidden;
    border-radius: 0px;
    background: #151519;
	box-shadow:0 10px 40px rgba(0, 0, 0, 0.05);
}
.header-nav {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
    position: relative;
	height: 85px;
	padding: 0 30px;
	margin-bottom: 0;
}
.main-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-nav > li > a {
	color: #fff;
}
.main-nav > li.active > a {
	color: #ff0080;
}
.main-nav > li > a::after {
	width: 0;
	background: #ff0080;
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	height: 4px;
	border-radius: 4px;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
.main-nav > li > a:hover::after, .main-nav > li.active > a::after {
    width: 100%;
    right: auto;
    left: 0;
}
.main-nav > li .submenu li a {
    display: block;
    padding: 10px 15px;
    clear: both;
    white-space: nowrap;
    font-size: 14px;
    color: #2d3b48;
    -webkit-transition: all .35s ease;
    transition: all .35s ease;
	width: 100%;
	border-top: 1px solid #f0f0f0;
}
.main-nav > li .submenu > li.has-submenu > a::after {
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: 15px;
    top: 12px;
    font-size: 13px;
}
.main-nav > li .submenu li {
    position: relative;
}
.main-nav li a {
	display: block;
    font-size: 0.9375rem;
    font-weight: 500;
}
.main-nav li.login-link {
	display: none;
}
.header-navbar-rht {
    margin: 0;
	padding: 0;
}
.header-navbar-rht > li {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
    padding-right: 15px;
	justify-content: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
}
.header-navbar-rht > li:last-child {
	padding-right:0px;
}
.header-navbar-rht > li .dropdown-menu {
	border: 0;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}
.header-navbar-rht > li .fa-bell {
	font-size: 24px;
}
.header-navbar-rht > li .fa-comments {
	font-size: 24px;
}
.header-navbar-rht .dropdown-toggle::after {
	display: none;
}
.header-navbar-rht > li .dropdown-menu .dropdown-item {
	border-top: 1px solid #f0f0f0;
	padding: 10px 15px;
	font-size: 0.9375rem;
}
.header-navbar-rht > li .dropdown-menu .dropdown-item:first-child {
	border-top: 0;
	border-radius: 5px 5px 0 0;
}
.header-navbar-rht > li .dropdown-menu .dropdown-item:last-child {
	border-radius: 0 0 5px 5px;
}
.header-navbar-rht > li a.header-login:hover, .header-navbar-rht > li a.header-login:focus {
    background-color: #e60073;
    border-color: #e60073;
    color: #fff;
}
.header-navbar-rht li > .dropdown-menu a:hover {
    color: #ff0080;
	background-color: #fff;
}
.header-navbar-rht li > a.header-login {
    background-color: #ff0080;
    border-radius: 8px;
    padding: 8px 12px !important;
    text-align: center;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
}
.header .has-arrow .dropdown-toggle:after {
	border-top: 0;
	border-left: 0;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
	content: '';
	height: 8px;
	display: inline-block;
	pointer-events: none;
	-webkit-transform-origin: 66% 66%;
	-ms-transform-origin: 66% 66%;
	transform-origin: 66% 66%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	width: 8px;
	vertical-align: 2px;
	margin-left: 10px;
}
.header .has-arrow .dropdown-toggle[aria-expanded="true"]:after {
	-webkit-transform: rotate(-135deg);
	-ms-transform: rotate(-135deg);
	transform: rotate(-135deg);
}
.user-menu {
    float: right;
    margin: 0;
    position: relative;
    z-index: 99;
}
.user-menu.nav > li > a {
	color: #fff;
	font-size: 14px;
	line-height: 58px;
	padding: 0 15px;
	height: 60px;
}
.user-menu.nav > li > a:hover,
.user-menu.nav > li > a:focus {
	background-color: rgba(0, 0, 0, 0.2);
}
.user-menu.nav > li > a:hover i,
.user-menu.nav > li > a:focus i {
	color: #fff;
}
.user-img {
    display: inline-block;
    position: relative;
}
.user-img > img {
	height: 31px;
    object-fit: cover;
	width: 31px;
}
.user-menu.nav > li > a.mobile_btn {
	border: 0;
	position: relative;
	padding: 0;
	margin: 0;
	cursor: pointer
}
.header-navbar-rht .dropdown-menu {
    min-width: 200px;
    padding: 0;
}
.header-navbar-rht .dropdown-menu .dropdown-item {
    padding: 7px 15px;
}
.header-navbar-rht .dropdown-menu .dropdown-item {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    border-top: 1px solid #e3e3e3;
    padding: 10px 15px;
}
.header-navbar-rht .dropdown-menu .dropdown-item:hover {
    color: #ff0080;
}
.user-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    padding: 10px 15px;
}
.user-header .user-text {
	margin-left: 10px;
}
.user-header .user-text h6 {
	font-size: 15px;
    margin-bottom: 2px;
}
.header-navbar-rht .logged-item .nav-link {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
    font-size: 14px;
	height: 85px;
	padding: 0 10px;
	color: #fff;
	position: relative;
}

/*-----------------
	Mobile Menu
-----------------------*/

.sidebar-overlay {
	background-color: rgba(255, 255, 255, 0.6);
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1039;
}
.menu-opened .main-menu-wrapper {
    transform: translateX(0);
}
.menu-header {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
    height: 60px;
    padding:  0 20px;
	justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-flex-pack: space-between;
	display: none;
}
.menu-logo img {
    height: auto;
    max-width: 180px;
}
.menu-close {
    font-size: 18px;
    color: #ff0080;
}
.bar-icon {
    display: inline-block;
    width: 31px;
}
.bar-icon span {
    background-color: #fff;
    display: block;
    float: left;
    height: 3px;
    margin-bottom: 7px;
    width: 31px;
    border-radius: 2px;
}
.bar-icon span:nth-child(2) {
    width: 16px;
}
.bar-icon span:nth-child(3) {
    margin-bottom: 0;
}
#mobile_btn {
	display: none;
	margin-right: 30px;
}
html.menu-opened body {
    overflow: hidden;
}
.main-menu-wrapper {
    margin: 0 auto;
}
.navbar-brand.logo-small {
	display: none;
}
.navbar-brand.logo-small img {
	max-height: 40px;
	width: auto;
}
header.sticktop.dark {
	position: unset;
}
.header.sticktop.navbar-fixed .header-nav {
	background: #151519;
}
.settings-menu ul {
	display: block;
	border: 0;
}
.settings-menu ul li + li {
	margin-top: 15px;
}
.settings-menu ul li a {
    color: #858585;
    padding: 0;
    border: 0 !important;
    display: inline-block;
}
.settings-menu ul li a:hover, .settings-menu ul li a:focus {
	background-color: transparent !important;
	border: 0 !important;
}
.settings-menu ul li a.active {
	color: #ff0080 !important;
	border: 0;
}
.settings-menu ul li i {
    margin-right: 10px;
    font-size: 20px;
    min-width: 25px;
}
.form-title {
    font-size: 1.125rem;
    color: #000;
    margin-bottom: 15px;
}
.widget-title {
	margin-bottom: 20px;
}
.transaction-table .card-body {
    padding: 0;
}
.transaction-table .card-body .table > thead > tr > th {
    border-top: 0;
}
.transaction-table .table tr td:first-child,
.transaction-table .table tr th:first-child {
    padding-left: 1.5rem;
}
.transaction-table .table tr td:last-child,
.transaction-table .table tr th:last-child {
    padding-right: 1.5rem;
}
.transaction-table .table td, .transaction-table .table th {
    border-top: 1px solid #e2e5e8;
    padding: 1rem 0.75rem;
    white-space: nowrap;
}
.transaction-table table.dataTable {
	margin: 0 !important;
}
.card {
    border: 1px solid #f0f0f0;
    margin-bottom: 1.875rem;
}
.card-body {
	padding: 1.5rem;
}
.card-title {
    margin-bottom: 15px;
}
.card-header {
	border-bottom: 1px solid #f0f0f0;
	padding: 1rem 1.5rem;
}
.card-footer {
	background-color: #fff;
	border-top: 1px solid #f0f0f0;
	padding: 1rem 1.5rem;
}
.card .card-header {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
}
.card .card-header .card-title {
    margin-bottom: 0;
}
.pricing-box .pricing-selected .card {
    background-color: #ff0080;
    border-color: #ff0080;
    color: #fff;
}
.pricing-box .pricing-selected .pricing-header h2 {
    color: #fff;
}
.pricing-box .pricing-selected .pricing-header p {
	color: #fff;
}
.pricing-box .pricing-selected .pricing-card-price .heading2 {
	color: #fff;
}
.pricing-box .pricing-selected .pricing-card-price p {
	color: #fff;
}
.pricing-box .pricing-selected .btn {
	background-color: #fff;
	color: #ff0080;
}
.pricing-box .pricing-selected .pricing-options li {
	color: #fff;
}
.pricing-box .pricing-header {
	margin-bottom: 2rem;
}
.pricing-box .pricing-header h2 {
	margin-bottom: 0;
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.2;
}
.pricing-box .pricing-header p {
	color: #9b9b9b;
	font-size: .875rem;
	line-height: 1.43;
}
.pricing-box .pricing-card-price {
	margin-bottom: 1.563rem;
}
.pricing-box .pricing-card-price .heading2 {
	margin-bottom: 5px;
}
.pricing-box .pricing-card-price p {
	color: #9b9b9b;
}
.pricing-box .pricing-card-price p + p {
	margin: 0;
}
.pricing-box .pricing-options {
	list-style: none;
	padding: 0;
	margin-bottom: 1.875rem;
}
.pricing-box .pricing-options li {
	margin-bottom: 12px;
	font-size: 0.875rem;
	line-height: 1.43;
	position: relative;
}
.btn.btn-white {
    background: #fff;
    border: none !important;
    color: #ff0080 !important;
}
.withdraw-btn {
    padding: 12px 15px;
	font-weight: bold;
}
.btn-primary {
    background-color: #ff0080;
    border-color: #ff0080;
}
.btn-primary {
	background-color: #ff0080;
	border: 1px solid #ff0080;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
	background-color: #e60073;
	border: 1px solid #e60073;
}
.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary.focus:active,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
	background-color: #e60073;
	border: 1px solid #e60073;
}
.btn-primary.active:not(:disabled):not(.disabled),
.btn-primary:active:not(:disabled):not(.disabled),
.show > .btn-primary.dropdown-toggle {
	background-color: #e60073;
	border-color: #e60073;
	color: #fff;
}
.btn-primary.active:focus:not(:disabled):not(.disabled), 
.btn-primary:active:focus:not(:disabled):not(.disabled), 
.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: unset;
}
.btn-primary.disabled, .btn-primary:disabled {
    background-color: #ff0080;
    border-color: #ff0080;
    color: #fff;
}
.content {
    min-height: 200px;
    padding: 40px 0;
}
.breadcrumb-bar {
    background-color: #fafafa;
    padding: 30px 0;
}
.breadcrumb-bar .breadcrumb-title {
    color: #8d8d8d;
    font-size: 22px;
    font-weight: 700;
}
.page-breadcrumb ol {
    background-color: transparent;
    font-size: 14px;
    margin-bottom: 0;
    padding: 0;
}
.page-breadcrumb ol li a {
    color: #8d8d8d;
}
.page-breadcrumb ol li.active {
    color: #8d8d8d;
}
.page-breadcrumb .breadcrumb-item + .breadcrumb-item:before {
	color: #8d8d8d;
	font-size: 10px;
}

.service-widget {
    background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 15px;
    margin-bottom: 30px;
    position: relative;
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.05);
}
.inactive-service .service-widget {
    opacity: 0.6;
}
.inactive-service .service-widget:hover {
    opacity: 1;
}
.service-img {
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 15px 15px 0 0;
}
.service-img::before {
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    z-index: 1;
}
.service-img .serv-img {
    border-radius: 15px 15px 0 0;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
	transform: translateZ(0);
	-moz-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
	-ms-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
	-o-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
	-webkit-transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
	transition: all 2000ms cubic-bezier(.19,1,.22,1) 0ms;
    width: 100%;
}
.service-img:hover .serv-img {
    -webkit-transform: scale(1.15);
    -moz-transform: scale(1.15);
    transform: scale(1.15);
}
.service-content {
    padding: 15px;
}
.service-content .title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.service-widget .service-content .title a {
    display: inline-block;
    color: #242423;
}
.service-widget .service-content .title a:hover, .service-widget .service-content .title a:hover {
	color: #ff0080;
}
.rating {
    list-style: none;
    margin: 0 0 7px;
    padding: 0;
    width: 100%;
}
.rating i {
    color: #dedfe0;
}
.rating i.filled {
    color: #fbc418;
}
.service-widget .rating {
    color: #757575;
    font-size: 14px;
    margin-bottom: 15px;
}
.service-widget .rating i {
	font-size: 14px;
}

.item-info {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0 15px 15px;
    z-index: 1;
}
.service-user img {
    width: 30px !important;
    height: 30px;
    border-radius: 50%;
    margin-right: 8px;
    display: inline-block !important;
}
.service-user {
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    font-weight: bold;
    float: left;
}
.cate-list {
	float: right;
}
.cate-list a {
    color: #fff;
    padding: 2px 15px;
    font-size: 13px;
    overflow: hidden;
    line-height: 22px;
    border-radius: 15px;
    position: relative;
    display: inline-block;
}
.bg-yellow {
    background: #d9c505;
}
.user-info span i {
    font-size: 12px;
    line-height: 26px;
    color: #171717;
    text-align: center;
    width: 27px;
    height: 27px;
    border: 1px dashed #171717;
    border-radius: 50%;
}
.service-carousel .owl-nav {
	width: 100%;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
	margin: 0;
}
.service-carousel:hover .owl-nav{
	opacity:1;
	visibility:visible;
}
.service-carousel .owl-carousel .owl-nav div {
	height: 48px;
	width: 48px;
	line-height: 48px;
	top: 50%;
	background: #666;
	color: #fff;
	font-size: 25px;
	position: absolute;
	border: none;
	margin: 0;
	padding: 0;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	border-radius: 100%;
	margin-top: -24px;
}
.service-carousel .owl-carousel .owl-nav div:hover{
	color:#fff;
}
.service-carousel .owl-carousel .owl-nav .owl-prev{
	left:-75px;
}
.service-carousel .owl-carousel .owl-nav .owl-prev:hover{
	left:-65px;
}
.service-carousel .owl-carousel .owl-nav .owl-next{
	right:-75px;
}
.service-carousel .owl-carousel .owl-nav .owl-next:hover{
	right:-65px;
}
.service-carousel .owl-dots{
	margin-top:50px;
}
.service-carousel .owl-dots .owl-dot{
	margin-right:5px;
}
.service-carousel .owl-dots .owl-dot:last-child{
	margin-right:0px;
}
.service-carousel .owl-dots .owl-dot span{
	width: 12px;
	height: 12px;
	line-height: 12px;
	margin:0;
	-webkit-transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	transition:all 0.4s ease;
}
.service-carousel .owl-dots .owl-dot.active span {
	border-color: transparent;
	width: 30px;
	height: 12px;
}
.has-error .help-block {
	color: red;
}
small.help-block {
	color: #F44336 !important;
}
.heading-2 {
    margin: 0 0 20px;
    font-size: 22px;
    font-weight: 400;
}
.service-desc {
	min-height: 200px;
}
.service-upload {
    border: 2px dashed #dcdcdc;
    border-radius: .25rem;
    text-align: center;
    padding: 70px 0;
    margin-bottom: 30px;
    background-color: #fff;
    position: relative;
}
.service-upload i {
    font-size: 50px;
    color: #858585;
}
.service-upload span {
    font-size: 15px;
    color: #858585;
    margin-top: 14px;
    display: block;
}
.service-upload input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.section-header {
    margin-bottom: 60px;
}
.section-header h2 {
    font-size: 36px;
    margin-bottom: 0;
    font-weight: 600;
    position: relative;
    padding-bottom: 20px;
    letter-spacing: 1px;
	color: #242133;
}
.section-header h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background: #ff0080;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
}
.btn.btn-danger.trash {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 46px;
    width: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
}
.btn-icon {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
    text-align: center;
    position: absolute;
    padding: 0;
    font-size: 10px;
    width: 20px;
    height: 20px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
    right: 3px;
    top: 3px;
	justify-content: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
}
.upload-images {
    position: relative;
}
.upload-images img {
	border-radius: 4px;
	height: 60px;
	width: auto;
}
.upload-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	flex-wrap: wrap;
}
.upload-wrap li {
    margin: 10px;
}
.preloader-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    display: flex;
    align-items: center;
}
.preloader-square-swapping {
	margin: 30px auto;
	width: 19px;
	height: 19px;
	transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
}
.preloader-square-swapping .cssload-square-part {
	position: absolute;
	width: 19px;
	height: 19px;
	z-index: 1;
	animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
	-o-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
	-ms-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
	-webkit-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
	-moz-animation: cssload-part-anim 0.92s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}
.preloader-square-swapping .cssload-square-green {
	background: #ff0080;
	right: 0;
	bottom: 0;
	animation-direction: alternate-reverse;
	-o-animation-direction: alternate-reverse;
	-ms-animation-direction: alternate-reverse;
	-webkit-animation-direction: alternate-reverse;
	-moz-animation-direction: alternate-reverse;
}
.preloader-square-swapping .cssload-square-pink {
	background: #D9C505;
	left: 0;
	top: 0;
}
.preloader-square-swapping .cssload-square-blend {
	background: rgb(117,81,125);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 2;
	animation: blend-anim 0.92s ease-in infinite;
	-o-animation: blend-anim 0.92s ease-in infinite;
	-ms-animation: blend-anim 0.92s ease-in infinite;
	-webkit-animation: blend-anim 0.92s ease-in infinite;
	-moz-animation: blend-anim 0.92s ease-in infinite;
}

@keyframes blend-anim {
	0% {
		transform: scale(0.01, 0.01) rotateY(0);
		animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	50% {
		transform: scale(1, 1) rotateY(0);
		animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	100% {
		transform: scale(0.01, 0.01) rotateY(0);
	}
}

@-o-keyframes blend-anim {
	0% {
		-o-transform: scale(0.01, 0.01) rotateY(0);
		-o-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	50% {
		-o-transform: scale(1, 1) rotateY(0);
		-o-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	100% {
		-o-transform: scale(0.01, 0.01) rotateY(0);
	}
}

@-ms-keyframes blend-anim {
	0% {
		-ms-transform: scale(0.01, 0.01) rotateY(0);
		-ms-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	50% {
		-ms-transform: scale(1, 1) rotateY(0);
		-ms-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	100% {
		-ms-transform: scale(0.01, 0.01) rotateY(0);
	}
}

@-webkit-keyframes blend-anim {
	0% {
		-webkit-transform: scale(0.01, 0.01) rotateY(0);
		-webkit-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	50% {
		-webkit-transform: scale(1, 1) rotateY(0);
		-webkit-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	100% {
		-webkit-transform: scale(0.01, 0.01) rotateY(0);
	}
}

@-moz-keyframes blend-anim {
	0% {
		-moz-transform: scale(0.01, 0.01) rotateY(0);
		-moz-animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);
	}
	50% {
		-moz-transform: scale(1, 1) rotateY(0);
		-moz-animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	}
	100% {
		-moz-transform: scale(0.01, 0.01) rotateY(0);
	}
}

@keyframes cssload-part-anim {
	0% {
		transform: translate3d(-10px, -10px, 0);
	}
	100% {
		transform: translate3d(10px, 10px, 0);
	}
}

@-o-keyframes cssload-part-anim {
	0% {
		-o-transform: translate3d(-10px, -10px, 0);
	}
	100% {
		-o-transform: translate3d(10px, 10px, 0);
	}
}

@-ms-keyframes cssload-part-anim {
	0% {
		-ms-transform: translate3d(-10px, -10px, 0);
	}
	100% {
		-ms-transform: translate3d(10px, 10px, 0);
	}
}

@-webkit-keyframes cssload-part-anim {
	0% {
		-webkit-transform: translate3d(-10px, -10px, 0);
	}
	100% {
		-webkit-transform: translate3d(10px, 10px, 0);
	}
}

@-moz-keyframes cssload-part-anim {
	0% {
		-moz-transform: translate3d(-10px, -10px, 0);
	}
	100% {
		-moz-transform: translate3d(10px, 10px, 0);
	}
}


.widget h3 {
	margin-bottom: 25px;
	font-size: 22px;
	font-weight: 700;
}
.available-widget ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
}
.available-widget ul li {
    color: #858585;
    overflow: hidden;
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}
.available-widget ul li span {
	float: left;
}
.available-widget ul li:first-child {
	padding-top: 0;
}
.available-widget ul li:last-child {
	border-bottom: none;
	padding-bottom: 0;
}
.sidebar-widget .service-amount {
    color: #2c3038;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 20px;
}
.service-book .btn {
    font-weight: 700;
    display: block;
    padding: 11px 25px;
    border-radius: 5px;
    text-transform: uppercase;
    width: 100%;
}
.service-header h1 {
	font-weight: bold;
}
.service-cate a {
    color: #fff;
    padding: 2px 10px;
    text-transform: uppercase;
    background: #d9c505;
    border-radius: 4px;
    font-size: 0.8125rem;
    display: inline-block;

}
.service-header {
    margin-bottom: 30px;
}
.widget {
	margin-bottom: 30px;
}
.about-provider-img {
	background-color: #fff;
	height: 80px;
	overflow: hidden;
	position: absolute;
	width: 80px;
}
.provider-details {
	margin-left: 100px;
}
.about-author {
	min-height: 80px;
}
.provider-details .ser-provider-name {
	display: inline-block;
	margin-bottom: 5px;
}
.post-author img {
    border-radius: 100%;
    width: 28px;
    margin-right: 5px;
}
.ser-provider-name {
    display: inline-block;
    margin-bottom: 10px;
    color: #272b41;
    font-size: 16px;
    font-weight: 600;
}
.service-tabs > li + li {
	margin-left: 10px;
}
.list-bullet {
	padding-left: 0;
	list-style-type: none;
}
.list-bullet li {
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
    line-height: 1.8;
}
.list-bullet li::before {
    position: absolute;
    left: 0;
    content: '';
    top: 10px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: #ff0080;
}
.list-bullet li:last-child {
	margin-bottom: 0;
}
.service-images {
	margin-bottom: 30px;
}
.submit-section .submit-btn {
    font-weight: 500;
    font-size: 18px;
    padding: 10px 20px;
    min-width: 150px;
}

/*-----------------
	Appoitment List
-----------------------*/

.widget-profile {
    background-color: #fff;
    border-bottom: 1px solid #f0f0f0;
}
.widget-profile .booking-widget {
	display: block;
	text-align: center;
}
.widget-profile .booking-widget .booking-img {
    display: inline-block;
    margin: 0 0 15px;
    width: auto;
    padding: 8px;
    background-color: #f7f7f7;
    border-radius: 50%;
}
.widget-profile .booking-widget .booking-img img {
    border-radius: 50%;
    height: 120px;
    width: 120px;
}
.booking-list .booking-widget {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: auto;
    text-align: left;
    flex: 0 0 calc(100% - 245px);
}
.booking-list .booking-widget .booking-img img {
    border-radius: 4px;
    height: 120px;
    object-fit: cover;
    width: 120px;
}
.bookings .booking-list {
	background-color: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	margin-bottom: 20px;
    padding: 20px;
	align-items: center;
}
.bookings .booking-list:last-child {
	margin-bottom: 30px;
}
.bookings .booking-action {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex: 0 0 245px;
	justify-content: flex-end;
	flex-wrap: wrap;
}
.booking-action a {
    font-size: 13px;
    margin: 3px 0;
    min-width: 74px;
}
.booking-action a + a {
	margin-left: 5px;
}
.info-details {
    list-style: none;
    margin: 0;
    padding: 0;
}
.info-details li .title {
    color: #272b41;
    font-weight: 500;
}
.info-details li .text {
    color: #757575;
    display: block;
    font-size: 16px;
    overflow: hidden;
}
.info-details li {
	margin-bottom: 10px;
}
.info-details li:last-child {
	margin-bottom: 0;
}
.booking-details li span {
    width: 120px;
    display: inline-block;
    font-weight: 500;
    color: #000;
    flex: 0 0 120px;
}
.booking-details li {
    color: #858585;
    display: flex;
}
.booking-details li + li {
	margin-top: 3px;
}
.booking-img {
    margin-right: 15px;
    flex: 0 0 120px;
    max-width: 120px;
}
.booking-det-info h3 a {
	color: #2c3038;
}
.booking-det-info h3 a:hover {
	color: #ff0080;
}
.booking-det-info h3 {
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}
.booking-details li span.badge {
    color: #fff;
    width: auto;
    flex: 0 0 auto;
    margin-left: 5px;
    font-weight: normal;
    padding: 4px 9px;
    height: 20px;
}
.bg-info-light {
	background-color: rgba(2, 182, 179,0.12) !important;
	color: #1db9aa !important;
}
.bg-primary-light {
	background-color: rgba(17, 148, 247,0.12) !important;
	color: #2196f3 !important;
}
.bg-danger-light {
	background-color: rgba(242, 17, 54,0.12) !important;
	color: #e63c3c !important;
}
.bg-warning-light {
	background-color: rgba(255, 152, 0,0.12) !important;
	color: #f39c12 !important;
}
.bg-success-light {
	background-color: rgba(15, 183, 107,0.12) !important;
	color: #26af48 !important;
}
.bg-purple-light {
	background-color: rgba(197, 128, 255,0.12) !important;
	color: #c580ff !important;
}
.bg-default-light {
	background-color: rgba(40, 52, 71,0.12) !important;
	color: #283447 !important;
}

/*-----------------
	Avatar
-----------------------*/

.avatar {
	position: relative;
	display: inline-block;
	width: 3rem;
	height: 3rem
}
.avatar > img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}
.avatar-title {
	width: 100%;
	height: 100%;
	background-color: #20c0f3;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
}
.avatar-away::before,
.avatar-offline::before,
.avatar-online::before {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 25%;
	height: 25%;
	border-radius: 50%;
	content: '';
	border: 2px solid #fff;
}
.avatar-online::before {
	background-color: #00e65b;
}
.avatar-offline::before {
	background-color: #ff0100;
}
.avatar-away::before {
	background-color: #ffbc34;
}
.avatar .border {
	border-width: 3px !important;
}
.avatar .rounded {
	border-radius: 6px !important;
}
.avatar .avatar-title {
	font-size: 18px;
}
.avatar-xs {
	width: 1.65rem;
	height: 1.65rem;
}
.avatar-xs .border {
	border-width: 2px !important;
}
.avatar-xs .rounded {
	border-radius: 4px !important;
}
.avatar-xs .avatar-title {
	font-size: 12px;
}
.avatar-xs.avatar-away::before,
.avatar-xs.avatar-offline::before,
.avatar-xs.avatar-online::before {
	border-width: 1px;
}
.avatar-sm {
	width: 2.5rem;
	height: 2.5rem;
}
.avatar-sm .border {
	border-width: 3px !important;
}
.avatar-sm .rounded {
	border-radius: 4px !important;
}
.avatar-sm .avatar-title {
	font-size: 15px;
}
.avatar-sm.avatar-away::before,
.avatar-sm.avatar-offline::before,
.avatar-sm.avatar-online::before {
	border-width: 2px;
}
.avatar-lg {
	width: 3.75rem;
	height: 3.75rem;
}
.avatar-lg .border {
	border-width: 3px !important;
}
.avatar-lg .rounded {
	border-radius: 8px !important;
}
.avatar-lg .avatar-title {
	font-size: 24px;
}
.avatar-lg.avatar-away::before,
.avatar-lg.avatar-offline::before,
.avatar-lg.avatar-online::before {
	border-width: 3px;
}

.service-action {
	margin-top: 15px;
}
.service-action a {
	font-size: 14px;
	color: #ff0080;
}
.ser-contact {
	display: flex;
	overflow: hidden;
	align-items: center;
}
.ser-contact span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 30px);
    display: block;
}
.ser-location {
	display: flex;
	overflow: hidden;
	text-align: right;
	align-items: center;
}
.ser-location span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 30px);
    display: block;
}

.sp-plan-action {
    height: 100%;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    border-top: 0;
    border-left: 1px solid #f0f0f0;
    display: flex;
}
.pricing-alert {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bootstrap-select .btn {
	background-color: #fff;
	border-color: #dcdcdc;
	color: #333;
	font-size: 15px;
	min-height: 46px;
	padding: 6px 15px;
}
.star-rating {
    direction: rtl;
}
.star-rating input[type=radio] {
    display: none
}
.star-rating label {
    color: #bbb;
    cursor: pointer;
    font-size: 18px;
    padding: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}
.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type=radio]:checked ~ label {
    color: #f2b600
}

.review-list {
    border-bottom: 1px solid #e8ecec;
    display: flex;
    padding: 15px 0;
	flex-wrap: wrap;
}
.review-list:last-child {
	border-bottom: 0;
}
.review-img {
    flex: 0 0 70px;
    max-width: 70px;
    margin-right: 15px;
}
.review-img img {
    width: 70px;
    height: 70px;
    object-fit: cover;
}
.review-count {
    flex: 0 0 auto;
    margin-left: auto;
    align-items: center;
    display: flex;
    justify-content: flex-end;
}
.review-info h5 {
    font-size: 17px;
    margin-bottom: 2px;
}
.review-info a {
	color: #2c3038;
}
.review-info a:hover {
	color: #ff0080;
}
.review-date {
    font-size: 14px;
    color: #2c3038;
    margin-bottom: 5px;
}
.review-info p {
    margin-bottom: 0;
    font-size: 14px;
}
.review-card .card-body {
	padding: 0 15px;
}

.pro-avatar {
    height: 40px;
    margin-right: 5px;
    width: auto;
}
table .badge {
    border-radius: 3px;
    display: inline-block;
    font-size: 13px;
    min-width: 75px;
    padding: 4px 12px;
    text-align: center;
}
.pro-avatar {
    height: 1.65rem;
    margin-right: 5px;
    width: auto;
	border-radius: .25rem;
}
table.table td a {
    color: #333;
}
table.table td a:hover {
    color: #ff0080;
}
.transaction-table div.table-responsive > div.dataTables_wrapper > div.row:first-child {
    padding: 1rem 1.5rem 0;
}
.transaction-table div.table-responsive > div.dataTables_wrapper > div.row:last-child {
    padding: 0 1.5rem 1rem;
}
div.dataTables_wrapper div.dataTables_length select {
    min-height: auto;
}
div.dataTables_wrapper div.dataTables_filter input {
    min-height: auto;
}
.last-seen {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.last-seen i {
    color: #ffbc34;
    margin-right: 5px;
    font-size: 12px;
}
.last-seen i.online {
    color: #00e65b;
}
.provider-info {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 4px;
}
.review-box .card-body {
	max-height:500px;
	overflow-y:auto;
}
.filter-list {
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #f0f0f0;
}
.filter-title {
    margin-bottom: 15px;
    font-size: 1rem;
}
.container-fluid {
	padding-left: 30px;
	padding-right: 30px;
}
.payment-card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 4px;
    margin-top: 25px;
    border: 1px solid #f0f0f0;
}
.header-navbar-rht .logged-item .nav-link .badge {
	position: absolute;
	top: 15px;
	right: 0;
}
.nav-tabs.menu-tabs {
	margin-bottom: 30px;
}
.nav-tabs.menu-tabs .nav-item.active .nav-link {
	color: #ff0080;
}
.nav-tabs.menu-tabs .nav-item {
	padding-right: 2.25rem;
}
.nav-tabs.menu-tabs .nav-link {
	padding: 0 0 1rem;
	font-weight: 700;
	position: relative;
	border: none;
	outline: none;
	display: inline-flex;
	align-items: center;
	background: transparent;
}
.nav-tabs.menu-tabs .nav-link::before, .nav-tabs .nav-link::after {
	position: absolute;
	content: '';
}
.nav-tabs.menu-tabs .nav-link::after {
	left: 0;
	right: 0;
	bottom: 0;
	height: 3px;
	background: #ff0080;
	opacity: 0;
}
.nav-tabs.menu-tabs .nav-item.active .nav-link::after {
	opacity: 1;
}
.nav-tabs.menu-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	background: transparent;
}
.nav-tabs.menu-tabs .nav-link:focus {
	color: #ff0080;
}
.nav-tabs.menu-tabs .nav-link .badge {
    margin-left: 0.25rem;
}
.avatar-view {display: block;margin: 5px;height: 220px;width: 220px;border: 3px solid #fff;border-radius: 5px;box-shadow: 0 0 5px rgba(0,0,0,.15);cursor: pointer;overflow: hidden;}
.avatar-view img {width: 100%;}
.avatar-body {padding-right: 15px;padding-left: 15px;}
.avatar-upload {overflow: hidden;}
.avatar-alert {margin-top: 10px;margin-bottom: 10px;}
.avatar-wrapper {height: 364px;width: 100%;margin-top: 15px;box-shadow: inset 0 0 5px rgba(0,0,0,.25);background-color: #fcfcfc;overflow: hidden;}
.avatar-wrapper img {display: block;height: auto;max-width: 100%;}
.avatar-preview {float: left;margin-top: 15px;margin-right: 15px;border: 1px solid #eee;border-radius: 4px;background-color: #fff;overflow: hidden;}
.avatar-preview:hover {border-color: #ccf;box-shadow: 0 0 5px rgba(0,0,0,.15);}
.avatar-preview img {width: 100%;}
.preview-lg {height: 184px;width: 184px;margin-top: 15px;}
.preview-md {height: 100px;width: 100px;}
.preview-sm {height: 50px;width: 50px;}
.avatar-btns {margin-top: 30px;margin-bottom: 15px;}
.avatar-btns .btn-group {margin-right: 5px;}
.loading {display: none;position: absolute;top: 0;right: 0;bottom: 0;left: 0;background: #fff url("../img/loader.gif") no-repeat center center;opacity: .75;filter: alpha(opacity=75);z-index: 20140628;}
.crop-image {margin-bottom: 60px;text-align: center;}
.upload-btn {margin-bottom:70px;}
.upload-btn > a {background-color: #2ea2db;border-color: #2ea2db;border-radius: 8px;font-size: 24px;padding: 12px 25px;text-transform: uppercase;}
.upload-btn > a:hover {background-color:#218ec4;border-color:#218ec4;}
.crop-image > h4 {color: #a3a3a3;margin: 0;}
.crop-content {margin-bottom: 70px;}
.crop-content h4 {font-weight: 600;}
.img-cropper {background: #e0e0e0 url("../images/img-icon.png") no-repeat scroll center center;border-radius: 10px;margin: 0 auto 40px;position: relative;width: 250px;height: 250px;}
.crop-area {color: inherit;overflow: hidden;width: 100%;}
.crop-result {overflow: hidden;position: absolute;bottom: 0;left: 0;right: 0;top: 0;}
.crop-result img {display: block;left: 0;position: absolute;top: 0;width: 100%;}
.img-cropper img {height: auto;width: 100%;}
.crop-action {	bottom:5px;left: 0;overflow: hidden;position: absolute;right: 0;z-index: 3;}
.crop-delete {
	background-image: url("../images/delete.png");
    background-color: rgba(0, 0, 0, 0.7);
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    font-size: 0;
    height: 36px;
    outline: medium none;
    position: relative;
    width: 36px;
	cursor:pointer;
	display:inline-block;
	margin:0 2px;
}
.crop-download{
	background-image: url("../images/download.png");
    background-color: rgba(0, 0, 0, 0.7);
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    font-size: 0;
    height: 36px;
    outline: medium none;
    position: relative;
    width: 36px;
	cursor:pointer;
	display:inline-block;
	margin:0 2px;
}
.crop-edit{
	background-image: url("../images/edit.png");
    background-color: rgba(0, 0, 0, 0.7);
    background-position: 50% center;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    font-size: 0;
    height: 36px;
    outline: medium none;
    position: relative;
    width: 36px;
	cursor:pointer;
	display:inline-block;
	margin:0 2px;
}
.result-details {margin: 0 auto 20px;width: 50%;}
.result-table {margin:0;background-color:#fff;}
.result-table th {width: 50%;}
.result-table th, .result-table td {text-align:left;vertical-align:middle !important;}
.result-table p {margin: 0;}


.chat-search {
    background-color: #f5f5f6;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 15px;
    width: 100%;
}
.chat-search .input-group {
    width: 100%;
}
.chat-search .input-group .form-control {
    background-color: #fff;
    border-radius: 50px;
    padding-left: 36px;
}
.chat-search .input-group .form-control:focus {
    border-color: #ccc;
    box-shadow: none;
}
.chat-search .input-group .input-group-prepend {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
    bottom: 0;
    color: #666;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    left: 15px;
    pointer-events: none;
    position: absolute;
    top: 0;
    z-index: 4;
}
.no-messages i {
    font-size: 50px;
}
#flash_succ_message {
    position: absolute;
    min-width: 400px;
    right: 2em;
    z-index: 99;
    margin-top: 15px;
    max-width: 50%;
}
.msg_time {
	color: darkgray;
}
.w-180 {
	width: 180px;
}
.w-155 {
	width: 155px;
}
.error {
	color:#f00;
}
.resend-otp {
	font-size: 13px;
	text-align:center;
}
.category-section {
	padding: 40px 0;
}
.popular-services {
	background-color: #fafafa;
	padding: 40px 0;
}

/*-----------------
	Responsive
-----------------------*/

@media (min-width: 992px) {
	.main-nav > li {
		margin-right: 30px;
	}
	.main-nav > li:last-child {
		margin-right: 0;
	}
	.main-nav li {
		display: block;
		position: relative;
	}
	.main-nav > li > a {
		line-height: 85px;
		padding: 0 !important;
	}
	.main-nav > li > a > i {
		font-size: 12px;
		margin-left: 3px;
	}
	.main-nav li > ul {
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 3px  rgba(0, 0, 0, 0.1);
		display: block;
		font-size: 14px;
		left: 0;
		margin: 0;
		min-width: 200px;
		opacity: 0;
		padding: 0;
		position: absolute;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
		top: 100%;
		visibility: hidden;
		z-index: 1000;
		overflow: auto;
		max-height: 300px;
	}
	.main-nav li.has-submenu:hover > .submenu {
		visibility: visible;
		opacity: 1;
		margin-top: 0;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	.main-nav .has-submenu.active > a {
		color: #ff0080;
	}
	.main-nav .has-submenu.active .submenu li.active > a {
		color: #ff0080;
	}
	.main-nav > li .submenu li:first-child a {
		border-top: 0;
	}
	.main-nav > li.has-submenu:hover > .submenu > li.has-submenu:hover > .submenu {
		visibility: visible;
		opacity: 1;
		margin-top: -1px;
		margin-right: 0;
	}
	.main-nav > li .submenu > li .submenu {
		left: 100%;
		top: 0;
		margin-top: 10px;
	}
	.main-nav li .submenu a:hover {
		color: #ff0080;
		letter-spacing: 0.5px;
		padding-left: 20px;
	}
	.main-nav > .has-submenu > .submenu > .has-submenu > .submenu::before {
		top: 20px;
		margin-left: -35px;
		box-shadow: 1px 1px 0 0 rgba(0,0,0,.15);
		border-color: transparent #fff #fff transparent;
	}
	.header-navbar-rht li.show > .dropdown-menu {
		visibility: visible;
		opacity: 1;
		margin-top: 0;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	.header-navbar-rht li .dropdown-menu {
		border-radius: 5px;
		padding: 0;
		margin: 0;
		min-width: 200px;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: all .2s ease;
		transition: all .2s ease;
		display: block;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px);
	}
	.avatar-preview {
		float: none;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}
@media only screen and (max-width: 1199px) {
	.dropdown.noti-dropdown {
		margin-top: 0px !important;
	}
	.header-nav {
		padding-left: 20px;
		padding-right: 20px;
	}
	.header-navbar-rht > li.desc-list a > span {
		display: none;
	}
	.header .has-arrow .dropdown-toggle::after {
		display: none;
	}
	.howwork {padding: 0; }
	.howworksec{ background-size:contain;}
	.dash-widget-icon {
		width: 50px;
		height: 50px;
		line-height: 50px;
		flex: 0 0 50px;
	}
	.dash-widget {
		padding: 15px;
	}
	.dash-widget-info > span {
		font-size: 16px;
	}
	.booking-list .booking-widget {
		flex: 0 0 100%;
	}
	.bookings .booking-action {
		display: flex;
		flex: 0 0 100%;
		margin-top: 15px;
	}
	.booking-details li {
		flex-wrap: wrap;
	}
	.main-nav > li {
		margin-right: 20px;
	}
	.main-nav li a {
		font-size: 0.8125rem;
	}
}
@media only screen and (max-width: 991.98px) {
	.sidebar-overlay.opened {
		display: block;
	}
	.main-nav {
		padding: 0;
		-ms-flex-direction: column;
		flex-direction: column;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
	}
	.main-nav ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
	.main-nav > li {
		margin-left: 0;
	}
	.main-nav li + li {
		margin-left: 0;
	}
	.main-nav > li > a {
		line-height: 1.5;
		padding: 15px 20px !important;
		color: #fff;
		font-size: 14px;
		font-weight: 500;
	}
	.main-nav > li > a > i {
		float: right;
		margin-top: 5px;
	}
	.main-nav > li .submenu li a {
		border-top: 0;
		color: #fff;
		padding: 10px 15px 10px 35px;
	}
	.main-nav > li .submenu ul li a {
		padding: 10px 15px 10px 45px;
	}
	.main-nav > li .submenu > li.has-submenu > a::after {
		content: "\f078";
	}
	.main-nav .has-submenu.active > a {
		color: #ff0080;
	}
	.main-nav .has-submenu.active .submenu li.active > a {
		color: #ff0080;
	}
	.main-menu-wrapper {
		order: 3;
		width: 260px;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		overflow-x: hidden;
		overflow-y: auto;
		z-index: 1040;
		transform: translateX(-260px);
		transition: all 0.4s;
		background-color: #000;
	}
	.menu-header {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}
	.navbar-header {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
	}
	#mobile_btn {
		display: inline-block;
	}
	.header-navbar-rht > li.desc-list {
		display: none;
	}
	.footer-widget {
		margin-bottom: 30px;
	}
	.footer .footer-top {
		padding-bottom: 10px;
	}
	.search-input.line {
		width: 100%;
	}
	.search-input {
		width: 100%;
	}
	.result-details {
		width: 100%;
	}
	.section-search {
		margin-top: 150px;
		margin-bottom: 150px;
	}
	.breadcrumbs {float: left; width: 100%; text-align: center; margin-top: 10px; }
	.breadcrumbs li {
		float: none;
		display: inline-block; 
		padding: 0 13px;
	}
	.search-box form .search-btn {
		width: auto;
		float: right;
		margin: 0;
	}
	.howwork {
		margin-bottom: 30px;
	}
	.search-box {
		border-radius: 30px;
	}
	.search-box form > div {
		width: 100%;
	}
	.search-input > i {
		right: 20px;
	}
	.search-box form .search-btn {
		float: left; 
		width: 100%; 
		padding: 0;
	}
	.search-input.line::before {
		display: none;
	}
	.viewall span {
		font-size: 1.875rem;
	}
	.howworksec {
		background: none;
	}
	.main-nav li.mobile-list {
		display: block;
	}
	.heading h2 {
		font-size: 1.625rem;
	}
}

@media only screen and (max-width: 767.98px) {
	body {
		font-size: 0.875rem;
	}
	h1, .h1 {
		font-size: 2rem;
	}
	h2, .h2 {
		font-size: 1.75rem;
	}
	h3, .h3 {
		font-size: 1.375rem;
	}
	h4, .h4 {
		font-size: 1rem;
	}
	h5, .h5 {
		font-size: 0.875rem;
	}
	h6, .h6 {
		font-size: 0.75rem;
	}
	.content {
		padding: 15px 0 0;
	}
	.footer-title {
		font-size: 1rem;
	}
	.policy-menu {
		margin-top: 10px;
		text-align: left;
	}
	.form-title {
		font-size: 0.875rem;
	}
	.section-search > h3 {
		font-size: 30px;
	}
	.search-box {
		padding: 10px;
	}
	.notificationlist a {
		position: static;
		float: left;
		width: 100%;
		margin-top: 10px;
	}
	.viewall {
		text-align: left;
		padding: 0 0 30px;
	}
	.viewall span, .search-cat i {
		display: none;
	}
	.search-cat span {
		display: block;
		margin-right: 0;
	}
	.search-cat a {
		margin: 10px 5px;
	}
	#history_page {
		width: 100%;
	}
	.booking-list .booking-widget {
		flex: 0 0 100%;
	}
	.bookings .booking-action {
		flex: 0 0 100%;
		justify-content: center;
		margin-top: 20px;
	}
	.service-cate a {
		font-size: 0.75rem;
	}
	.service-content .title {
		font-size: 1rem;
	}
	.breadcrumb-title h2 {
		font-size: 1.375rem;
	}
	.container-fluid {
		padding-left: 15px;
		padding-right: 15px;
	}
	.section-header h2 {
		font-size: 1.875rem;
	}
	.dropdown-menu {
		font-size: 0.875rem;
	}
}

@media only screen and (max-width: 575.98px) {
	body {
		font-size: 0.8125rem;
	}
	h1, .h1 {
		font-size: 1.75rem;
	}
	h2, .h2 {
		font-size: 1.5rem;
	}
	h3, .h3 {
		font-size: 1.25rem;
	}
	h4, .h4 {
		font-size: 1rem;
	}
	h5, .h5 {
		font-size: 0.875rem;
	}
	h6, .h6 {
		font-size: 0.75rem;
	}
	.card {
		margin-bottom: 0.9375rem;
	}
	.card-body {
		padding: 1.25rem;
	}
	.card-header {
		padding: .75rem 1.25rem;
	}
	.card-footer {
		padding: .75rem 1.25rem;
	}
	.header-nav {
		padding-left: 15px;
		padding-right: 15px;
	}
	.main-nav li.login-link {
		display: block;
	}
	.navbar-header {
		width: 100%;
	}
	#mobile_btn {
		left: 0;
		margin-right: 0;
		padding: 0 15px;
		position: absolute;
		z-index: 99;
	}
	.navbar-brand.logo {
		display: none;
	}
	.navbar-brand.logo-small {
		display: block;
		width: 100%;
		text-align: center;
		margin-right: 0;
		padding: 0 100px;
	}
	.navbar-brand.logo img {
		height: 40px;
	}
	.footer-title {
		font-size: 1.125rem;
	}
    .contacts_card{
      margin-bottom: 15px !important;
    }
	.header-navbar-rht {
		position: absolute;
		right: 10px;;
	}
	.comment {
		display: inline-block;
		text-align: center;
	}
	.section-search > h3 {
		font-size: 1.75rem;
	}
	.cate-title span {
		font-size: 0.8125rem;
	}
	.heading h2 {
		font-size: 1.375rem;
	}
	.breadcrumb-title {
		text-align: center;
	}
	.breadcrumb-menu {
		display: none;
	}
	.header-navbar-rht li > a.header-login {
		margin-right: 10px;
	}
}
@media only screen and (max-width: 479px) {
	.booking-list .booking-widget {
		flex-direction: column;
	}
	.booking-img {
		margin: 0 0 15px;
	}
	.bookings .booking-action {
		justify-content: flex-start;
	}
	.booking-details li span {
		width: 100%;
		flex: 0 0 100%;
	}
	.header-navbar-rht .dropdown-menu {
		min-width: 200px;
		padding: 0;
		max-width: 300px;
		right: -30px;
	}
	.notifications .noti-content {
		width: 300px;
	}
	.header-navbar-rht > li.logged-item:last-child > a {
		padding: 0;
	}
	.header-navbar-rht > li:last-child .dropdown-menu {
		right: 0;
	}
}